<div class="person">
  <div class="actions">
    <a href="#" data-behavior="edit-person" class="edit">
      edit
    </a>
  </div>

  <%= first_name %> <%= last_name %>

  <blockquote>
    <%= address %>
  </blockquote>
</div>